<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Servidor web dentro de tu solución Velneo v7!</h2>
                <hr class="light">
                <p class="text-faded">El propósito es abrir las aplicaciones desarrolladas sobre v7 para que puedan ser aprovechadas en entornos web, logrando de esta forma funcionalidades como pedidos online afectando directamente la app, crear aplicaciones mobile con jQuery Mobile, listar el catálogo de productos, solicitud de citas online e inmuerables posibilidades gracias a que puedes desarrollar webs y API's de acceso a tus datos que pueden ser consumidas mediante páginas html o webservices</p>
                <a href="./downloads/Cirrusjs_1_4_RC1.vin" target="_blank" class="btn btn-default btn-xl">Descarga .vin</a>
                <a href="./downloads/Cirrus_1_4.rar" target="_blank" class="btn btn-default btn-xl">Descarga .rar web</a>
            </div>
        </div>
    </div>
</section>
