<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1><img src="/cirrus/img/logo_cirrus.png" style="margin-right: 10px;" alt=""/>Cirrus.js</h1>
            <h2>version 1.4</h2>
            <hr>
            <h3>Cirrus.js es una implementación en JavaScript del protocolo HTTP corriendo directamente sobre el objecto TCP/IP de Velneo V7, Que permite servir paginas HTML, JSON, Javascript y CSS directamente desde una app Velneo v7.</h3>
            <a href="https://github.com/Heavyblade/cirrus" class="btn btn-primary btn-xl page-scroll"><img src="/cirrus/img/github.png" alt="" width="25px" style="margin-right: 10px;"/> Repo</a>
        </div>
    </div>
</header>
