<header class="home">
    <div class="header-content">
        <div class="header-content-inner">
            <h1><img src="./img/logo_cirrus.png" style="margin-right: 10px; text-transform: none !important;" alt=""/>Cirrus.js</h1>
            <h2>version 1.4</h2>
            <hr>
            <p class="lead">!Cirrus.js es una implementación en JavaScript del protocolo HTTP corriendo directamente sobre el objecto TCP/IP de Velneo V7, Que permite servir paginas HTML, JSON, Javascript y CSS directamente desde una app Velneo v7.</p>
            <br/>
            <br/>
            <a href="https://github.com/Heavyblade/cirrus" class="btn btn-primary btn-xl page-scroll"><img src="./img/github.png" alt="" width="25px" style="margin-right: 10px;"/> Github Repo</a>
        </div>
    </div>
</header>
