
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
            <h2>Instancias para Demostración</h2>
        </div>

        <div class="col-lg-12 col-md-12 text-left">
            <h4>Servidor: vatp://c8.velneo.com:13530</h4>
            <h4>Usuario/Password: test</h4>
        </div>

</div>
<div class="line"></div>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-send wow bounceIn text-primary"></i>
                    <h3>vSendGrid</h3>
                    <p class="text-muted">Envia correos mediante el servicio sendgrid.com desde tu aplicación v7</p>
                    </br>
                    <h4>Precio 45 USD</h4>
                    <a href="https://paypal.me/cristiancvg/45" target="_blank" class="btn btn-primary btn-xl">Pagar con paypal 45USD</a>
                </div>
            </div>
            <div class="col-lg-8 col-md-16 text-center">
                <div class="service-box">
                  <ul id="vsendgridList">
                    <li>Funcional desde todas las plataformas y planos soportados por velneo v7.</li>
                    <li>Envío estándar con un simple destinatario, múltiples destinatarios, con copia y con copia oculta.</li>
                    <li>Envío de mails en formato HTML.</li>
                    <li>Envío de 1 o varios archivos adjuntos.</li>
                    <li>Capacidad de incluir imágenes que se renderizen dentro del cuerpo del email HTML.</li>
                    <li>Sin dependencias externas.</li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="line"></div>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-dropbox wow bounceIn text-primary"></i>
                    <h3>vStorage</h3>
                    <p class="text-muted">Administra ficheros de tu app de gestión mediante Dropbox, GoogleDrive y Amazon S3</p>
                    </br>
                    <h4>Precio 75 USD</h4>
                    <a href="https://paypal.me/cristiancvg/75" target="_blank" class="btn btn-primary btn-xl">Pagar con paypal 75 USD</a>
                </div>
            </div>
            <div class="col-lg-8 col-md-16 text-center">
                <div class="service-box">
                  <ul id="vDropboxList">
                      <li>Acceso al API de manejo de ficheros mediante funciones V7.</li>
                      <li>Funciones estándar para las 3 plataformas => Descarga de archivos y carpetas, upload de archivos, copiar, mover, crear carpetas y eliminar archivos y carpetas.</li>
                      <li>Explorador de archivos incorporado.</li>
                      <li>Interface para autorización Oauth 2 (Google Drive).</li>
                      <li>Manejo de colas de cargas y descargas en 2do plano.</li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/vStorage_1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                vStorage
                            </div>
                            <div class="project-name">
                                Drive
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/vStorage_3.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                vStorage
                            </div>
                            <div class="project-name">
                                Explorer
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/vStorage_4.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                vStorage
                            </div>
                            <div class="project-name">
                                V7 API
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="line"></div>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-file wow bounceIn text-primary"></i>
                    <h3>CirrusXML</h3>
                    <p class="text-muted">XML parser en javascript puro para Velneo V7.</p>
                    </br>
                    <h4>Precio 50 USD</h4>
                    <a href="https://paypal.me/cristiancvg/50'" target="_blank" class="btn btn-primary btn-xl">Pagar con paypal 50 USD</a>
                </div>
            </div>
            <div class="col-lg-8 col-md-16 text-center">
                <div class="service-box">
                  <ul id="vDropboxList">
                      <li>Convierte XML strings a Objetos JSON</li>
                      <li>Puedes buscar dentro de los nodos basado en contenido o tags</li>
                      <li>Puedes buscar nodos con expresiones regulares</li>
                      <li><a href="https://github.com/Heavyblade/manta_xml">Documentación</a></li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/cirrus_xml_1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cirrus XML
                            </div>
                            <div class="project-name">
                                Visor
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/cirrus_xml_2.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cirrus XML
                            </div>
                            <div class="project-name">
                                Documentacion
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="line"></div>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-connectdevelop wow bounceIn text-primary"></i>
                    <h3>vCommand</h3>
                    <p class="text-muted">Plugin para ejecutar comandos del sistema y obtener el retorno</p>
                    </br>
                    <h4>Precio 30 USD</h4>
                    <a href="https://paypal.me/cristiancvg/30'" target="_blank" class="btn btn-primary btn-xl">Pagar con paypal 30 USD</a>
                </div>
            </div>
            <div class="col-lg-8 col-md-16 text-center">
                <div class="service-box">
                  <ul id="vDropboxList">
                      <li>Ejecuta cualquer comando del sistema accesible en el PATH.</li>
                      <li>Ejecuta tus propios binarios, scripts o exes y leer la su salida.</li>
                      <li>Disponible para Windows64, Windows32, Linux64 y Mac OSX.</li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/vCommand_1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                vCommand
                            </div>
                            <div class="project-name">
                                Windows command
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/vCommand_2.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                vCommand
                            </div>
                            <div class="project-name">
                                Linux Command
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/vCommand_3.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                vCommand
                            </div>
                            <div class="project-name">
                                Mac Command
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="line"></div>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-upload wow bounceIn text-primary"></i>
                    <h3>vSftp</h3>
                    <p class="text-muted">Plugin para conexion nativa con servidores de archivos SFTP</p>
                    </br>
                    <h4>Precio 75 USD</h4>
                    <a href="https://paypal.me/cristiancvg/75'" target="_blank" class="btn btn-primary btn-xl">Pagar con paypal 75 USD</a>
                </div>
            </div>
            <div class="col-lg-8 col-md-16 text-center">
                <div class="service-box">
                  <ul id="vDropboxList">
                    <li>Acceso al API de manejo de ficheros mediante funciones V7.</li>
                    <li>Funciones estándar para las 3 plataformas => Descarga de archivos y carpetas, upload de archivos, copiar, mover, crear carpetas y eliminar archivos y carpetas.</li>
                    <li>Explorador de archivos incorporado.</li>
                    <li>Disponible para Windows64, Mac OSX y Linux 64.</li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/vSftp_2.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                vSftp
                            </div>
                            <div class="project-name">
                                Sftp funciones
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/vSftp_1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                vSftp
                            </div>
                            <div class="project-name">
                                Sftp explorer
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="line"></div>
<h4>Compara vCommand + vSftp por un precio especial USD 80</h4>
<a href="https://paypal.me/cristiancvg/80" target="_blank" class="btn btn-primary btn-xl">Pagar con paypal 80 USD</a>
<div class="line"></div>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bars wow bounceIn text-primary"></i>
                    <h3>CirrusDat</h3>
                    <p class="text-muted">Cliente de datos para explorar y trabajar con las cajas de datos de tu aplicación de gestión.</p>
                    </br>
                    <h4>Precio 100 USD</h4>
                    <p class="text-muted">(CirrusDat incluye CirrusRest por defecto)</p>
                    </br>
                    <a href="https://paypal.me/cristiancvg/100" target="_blank" class="btn btn-primary btn-xl">Pagar con paypal 100 USD</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 text-center">
                <div class="service-box">
                  <ul id="cirrusDatList">
                    <li>Exploración de tablas.</li>
                    <li>Selección de campos a mostrar.</li>
                    <li>Navegación entre enlaces plurales y maestros.</li>
                    <li>Filtros.</li>
                    <li>Paginación.</li>
                    <li>Exportación a excel.</li>
                    <li><strong>Consola javascript.</strong></li>
                    <li>Entorno web con protección de acceso por autenticación</li>
                    <li>Ejecución de procesos con variables.</li>
                    <li>Ejecución de búsquedas.</li>
                    <li><strong>No consumo de licencias.</strong></li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CirrusDat
                            </div>
                            <div class="project-name">
                                Visor de tablas
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CirrusDat
                            </div>
                            <div class="project-name">
                                Edición de registros
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CirrusDat
                            </div>
                            <div class="project-name">
                                Búsquedas
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CirrusDat
                            </div>
                            <div class="project-name">
                                Filtros
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CirrusDat
                            </div>
                            <div class="project-name">
                                Navegación entre registros
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CirrusDat
                            </div>
                            <div class="project-name">
                                Ejecución de scripts
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="line"></div>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cubes wow bounceIn text-primary"></i>
                    <h3>CirrusRest</h3>
                    <p class="text-muted">API's Rest para tus aplicaciones Velneo v7</p>
                    </br>
                    <h4>Precio 75  USD</h4>
                    <a href="https://paypal.me/cristiancvg/75" target="_blank" class="btn btn-primary btn-xl">Pagar con paypal75 USD</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 text-center">
                <div class="service-box">
                  <ul id="cirrusDatList">
                    <li>Autogeneración de end-points de lectura / escritura para tus tablas Velneo V7.</li>

                    <li>Auto documentación de end-points mediante swagger.</li>
                    <li>Protección puntos de acceso mediante tokens.</li>
                    <li>Protección de UI swagger mediante autenticación.</li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/cirrusrest_1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CirrusDat
                            </div>
                            <div class="project-name">
                                Visor de tablas
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/cirrusrest_2.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CirrusDat
                            </div>
                            <div class="project-name">
                                Edición de registros
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/cirrusdat_3.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CirrusDat
                            </div>
                            <div class="project-name">
                                Búsquedas
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="line"></div>