<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bars wow bounceIn text-primary"></i>
                    <h3>CirrusDat</h3>
                    <p class="text-muted">Cliente de datos para explorar y trabajar con las cajas de datos de tu aplicación de gestión.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 text-center">
                <div class="service-box">
                  <ul id="cirrusDatList">
                    <li>Exploración de tablas.</li>
                    <li>Seleccion de campo.s</li>
                    <li>Navegación entre enlaces.</li>
                    <li>Filtros.</li>
                    <li>Paginación.</li>
                    <li>Exporación a excel.</li>
                    <li><strong>Consola javascript.</strong></li>
                    <li>Selección de campos.</li>
                    <li>Ejecución de procesos con variables.</li>
                    <li>Ejecución de busquedas.</li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CirrusDat
                            </div>
                            <div class="project-name">
                                Visor de tablas
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CirrusDat
                            </div>
                            <div class="project-name">
                                Edición de registros
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CirrusDat
                            </div>
                            <div class="project-name">
                                Búsquedas
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CirrusDat
                            </div>
                            <div class="project-name">
                                Filtros
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CirrusDat
                            </div>
                            <div class="project-name">
                                Navegación entre registros
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CirrusDat
                            </div>
                            <div class="project-name">
                                Ejecución de scripts
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
