<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bars wow bounceIn text-primary"></i>
                    <h3>CirrusDat</h3>
                    <p class="text-muted">Cliente de datos para explorar y trabajar con las cajas de datos de tu aplicación de gestión.</p>
                    <form id="frm_botonePayco" name="frm_botonePayco" method="post" action="https://secure.payco.co/checkout.php">
                        <input name="p_cust_id_cliente" type="hidden" value="10175">
                        <input name="p_key" type="hidden" value="783326fd86fe05625f80fa76904dfb3f75cc02da">
                        <input name="p_id_invoice" type="hidden" value="">
                        <input name="p_description" type="hidden" value=" cirrusDat">
                        <input name="p_currency_code" type="hidden" value="USD">
                        <input name="p_amount" id="p_amount" type="hidden" value="224.00">
                        <input name="p_tax" id="p_tax" type="hidden" value="0">
                        <input name="p_amount_base" id="p_amount_base" type="hidden" value="0">
                        <input name="p_test_request" type="hidden" value="FALSE">
                        <input name="p_url_response" type="hidden" value="">
                        <input name="p_url_confirmation" type="hidden" value="">
                        <input name="p_signature" type="hidden" id="signature"  value="0ce12b49ef4a3e9d2618dc38817dbaec" />
                        <input name="idboton"type="hidden" id="idboton"  value="1069" />
                        <input type="image" id="imagen" src="https://369969691f476073508a-60bf0867add971908d4f26a64519c2aa.ssl.cf5.rackcdn.com/btns/btn6.png" />
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 text-center">
                <div class="service-box">
                  <ul id="cirrusDatList">
                    <li>Exploración de tablas.</li>
                    <li>Seleccion de campo.s</li>
                    <li>Navegación entre enlaces.</li>
                    <li>Filtros.</li>
                    <li>Paginación.</li>
                    <li>Exporación a excel.</li>
                    <li><strong>Consola javascript.</strong></li>
                    <li>Selección de campos.</li>
                    <li>Ejecución de procesos con variables.</li>
                    <li>Ejecución de busquedas.</li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CirrusDat
                            </div>
                            <div class="project-name">
                                Visor de tablas
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CirrusDat
                            </div>
                            <div class="project-name">
                                Edición de registros
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CirrusDat
                            </div>
                            <div class="project-name">
                                Búsquedas
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CirrusDat
                            </div>
                            <div class="project-name">
                                Filtros
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CirrusDat
                            </div>
                            <div class="project-name">
                                Navegación entre registros
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CirrusDat
                            </div>
                            <div class="project-name">
                                Ejecución de scripts
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cloud wow bounceIn text-primary"></i>
                    <h3>CirrusRest</h3>
                    <p class="text-muted">API's Rest para tus aplicaciones Velneo v7</p>
                    <form id="frm_botonePayco" name="frm_botonePayco" method="post" action="https://secure.payco.co/checkout.php">
                        <input name="p_cust_id_cliente" type="hidden" value="10175">
                        <input name="p_key" type="hidden" value="783326fd86fe05625f80fa76904dfb3f75cc02da">
                        <input name="p_id_invoice" type="hidden" value="">
                        <input name="p_description" type="hidden" value=" cirrusDat">
                        <input name="p_currency_code" type="hidden" value="USD">
                        <input name="p_amount" id="p_amount" type="hidden" value="168.00">
                        <input name="p_tax" id="p_tax" type="hidden" value="0">
                        <input name="p_amount_base" id="p_amount_base" type="hidden" value="0">
                        <input name="p_test_request" type="hidden" value="FALSE">
                        <input name="p_url_response" type="hidden" value="">
                        <input name="p_url_confirmation" type="hidden" value="">
                        <input name="p_signature" type="hidden" id="signature"  value="24467f937bf3ec9234693fb3ddf31c8c" />
                        <input name="idboton"type="hidden" id="idboton"  value="1069" />
                        <input type="image" id="imagen" src="https://369969691f476073508a-60bf0867add971908d4f26a64519c2aa.ssl.cf5.rackcdn.com/btns/btn6.png" />
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 text-center">
                <div class="service-box">
                  <ul id="cirrusDatList">
                    <li>Autogeneración de end-points de lectura / escritura para tus tablas</li>
                    <li>Protección puntos de acceso mediante tokens</li>
                    <li>Autodocumentación de end-points mediante swagger</li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/cirrusrest_1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CirrusDat
                            </div>
                            <div class="project-name">
                                Visor de tablas
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/cirrusrest_2.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CirrusDat
                            </div>
                            <div class="project-name">
                                Edición de registros
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/cirrusdat_3.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CirrusDat
                            </div>
                            <div class="project-name">
                                Búsquedas
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
